<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Claire's Rock, Paper, Scissors Game!</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <nav><a href="/welcome">Welcome!</a>
    </nav>
    <p></p>
    <%= yield %>
  </body>
</html>
