<h1>Hello there!</h1>
<p>
  Not sure how to play rock, paper, scissors? Right enough, it is a complicated game. </p>

<p>Put your first play in the URL bar, then follow it up with your second play.</p>

<p>For example: </p>
<p><i>localhost:4567/rock/paper</i></p>

<p>Who will win? It's so exciting!</p>
